@import '../untils/variables';

.form {
  position: fixed;
  top: 100px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: calc(100vh - 150px);
  padding: 20px 10px 10px;
  overflow: auto;
  background: $form-background-color;
  border: solid $form-border-color;
  border-width: 1px 0 1px 1px;
  box-shadow: 0 0 30px $form-box-shadow-color;
  border-radius: 10px 0 0 10px;

  &--loading {
    &::before {
      content: '';
      position: absolute;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $form-background-color;
      opacity: 0.9;
    }
  }

  &__row {
    display: flex;
    margin-bottom: 10px;
  }

  &__fieldset {
    flex-shrink: 0;
    padding: 0 10px;

    &--full {
      width: 100%;
    }

    &--half {
      width: 50%;
    }

    &--container {
      position: relative;
    }
  }

  &__footer {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto 0 0;
    padding: 10px 0;
  }
}
